body{
	background-color: grey;
	font-family: sans-serif;
}


.topnav {
  background-color: green;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}


@media (hover: hover) {
    .topnav a:hover {
      background-color: #6495ED;
    }
	
	.button:hover {
		background-color: #57595D;
	}
		
 }


.topnav a.active {
  background-color: #00008B;
  color: white;
}


.denContainer{
	margin-top: 110px;
	
	width: 75%;
	
}


.button{
	height: 100px;
	width: 60%;
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 100px; 
	border: 5px solid #00008B;
	padding-top: 50px;
	color:white;
	background-color: #009688;
	text-align:center;
	text-decoration: none;
	font-size: 30px;
	display: block;
	
}

	




